* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}
section {
  padding: 60px 0;
  overflow: hidden;
}

/* navbar */
.navbar .navbar-brand {
  font-weight: 900;
}
.navbar .nav-item .nav-link{
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    font-weight: 700;
}
.navbar .dropdown-menu .dropdown-item {
    color: black;
    font-weight: 700;
}

/* .carousel */

.carousel-item {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.carousel-item p {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
  word-spacing: 2px;
 
}

.carousel-item span {
  color: #fba90c;
}
.carousel-item .btn-carousel {
  background-color: #219EBC;
  color: white;
  
}


/* about */
.about .content {
  background-color: #fdf9e1;
  padding: 20px;
}

.about h3 {
  font-size: 1rem;
  color: #aa4806;
  text-transform: uppercase;
}

.about h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #d95f04;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #fba90c;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more {
  margin-left: 5px;
  font-size: 1.5rem;
  transition: 0.3s;
}

.about .btn-read-more:hover {
  background-color: #023047;
}


/* values */

.values header {
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
}
.values header p {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  color: #aa4806;
}

.values .box {
    padding: 30px;
    box-shadow: 0px 0 5px rgba(77, 77, 77, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%; 
    
}
.values .box img{
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}
.values .box h4 {
  font-size: 24px;
  color: #aa4806;
  font-weight: bold;
  margin-bottom: 18px;
  text-transform: capitalize;
}
.values .box p {
  font-size: 1rem;
  color: #fba90c;
  text-align: center;
  font-weight: bold;
  margin-bottom: 18px;
  text-transform: capitalize;
}
.values .box:hover {
  box-shadow: 0px 0 30px rgba(49, 49, 49, 0.08);
}
.values .box:hover img {
  transform: scale(1);
}


/* Contact */
.contact header {
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 900;
}
.contact header p {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  color: #aa4806;
}


.contact .info-box {
  color: #444444;
  background: #FFF9EB;
  padding: 20px;
  box-shadow: 0px 3px 10px rgba(49, 49, 49, 0.08);
}

.contact .info-box h1 a{
  font-size: 4rem;
  color: #fba90c;
  text-decoration: none;
}
.contact .info-box h1 a:hover{
  font-size: 4rem;
  color: #aa4806;
  text-decoration: none;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #aa4806;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 0;
}

.contact .form-regis {
  background: #FFF9EB;
  padding: 30px;
  height: 100%;
  padding-bottom:80px;
}
.contact .form-regis input {
  padding: 10px 15px;
  border-radius: 5px;
}
.contact .form-regis label {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
.contact .form-regis textarea {
  padding: 10px 15px;
}


.contact .form-regis button {
  background-color: #fba90c;
  color: white;
  border: 0;
  margin-top: 1rem;
  
}




/* footer */
.footer {
  background: #EEEEEE;
  padding: 0 0 30px 0;
}
.footer .text-footer{
  text-align: center;
  color: black;
  margin-top: 50px;
  font-weight: 700;
}
.footer .logo-footer{
  text-align:center;
  color: black;
}
.footer .logo-footer a{
  color: black;
  font-weight: lighter;
}




  @media only screen and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{  
    display:block; 
    opacity: 0;  
    visibility: hidden; 
    transition:.3s; 
    margin-top:0;  
  }
  .navbar .nav-item .nav-link {
    border-bottom: 2px solid transparent;
  }
	.navbar .nav-item:hover .nav-link{ 
    color: #fba90c; 
    border-bottom: solid 2px #fba90c;
    
  }
	.navbar .dropdown-menu.fade-down{ 
    top:80%; 
    transform: rotateX(-75deg); 
    transform-origin: 0% 0%; 
  }
	.navbar .dropdown-menu.fade-up{ 
    top:180%;  
  }
	.navbar .nav-item:hover .dropdown-menu{ 
    transition: .3s; 
    opacity:1; 
    visibility:visible; 
    top:100%; 
    transform: rotateX(0deg);
  }
  .navbar .nav-item .dropdown-menu .dropdown-item:hover{
    color: #fba90c;
    font-weight: 700;
    background-color: #fff;
  }
}		

@media only screen and (max-width: 600px) {
   
  .navbar .nav-item:hover {
    background-color: #fba90c;
    color: white;
  }
  .navbar .nav-item .nav-link:hover {
    color: white;
    text-align: center;
    font-weight: 700;
}
  .navbar .nav-item .dropdown-menu .dropdown-item:hover{
    color: #fba90c;
    font-weight: 700;
    background-color: #fff;
    text-align: center;
  }
  .navbar .nav-item .dropdown-menu .dropdown-item{
    color: black;
    font-weight: 700;
    background-color: #fff;
    text-align: center;
  }
  .contact .info-box {
   text-align: center;
  }
}
  